.deleteQuestion {
  height: 94.7vh;
  display: flex;
  justify-content: space-between;
}
.deleteQuestion_sidenav {
  background: #e7e8e2;
  height: 94.7vh;
  width: 15%;
  display: flex;
  justify-content: center;
  align-items: start;
}
.deleteQuestion .options {
  height: 50%;
  text-decoration: none;
  width: 100%;
}
.deleteQuestion .options_ul {
  list-style: none;
  gap: 2rem;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  margin-top: 40px;
}
.deleteQuestion .options_li {
  text-decoration: none;
  width: 100%;
  padding: 5px;
  text-align: center;
}
.deleteQuestion .options_li a {
  color: #940242;
}
.deleteQuestion .options_li.active {
  background: #940242;
  opacity: 70%;
}
.deleteQuestion .options_li.active a {
  color: white;
  opacity: 100%;
}
.delete_mainWindow {
  height: 94.7vh;
  width: 85%;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
}
.delete_box {
  background: #e7e8e2;
  height: 85%;
  width: 80%;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
}
.delete_head {
  display: flex;
  justify-content: center;
  font-size: 40px;
  align-content: flex-start;
  flex-wrap: wrap;
  font-family: "Lobster", sans-serif;
}
.delete_table {
  height: 80%;
  width: 90%;
}
.delete_form {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.delete_btns {
  display: flex;
  justify-content: space-between;
}
.delete_individualBtn {
  border: none;
  background: #940242;
  color: white;
  font-size: 18px;
  padding: 0 20px;
  font-family: "Lobster", sans-serif;
}
.table_container {
  max-height: 445px;
  overflow-y: auto;
}
