.addQuestion {
  height: 94.7vh;
  display: flex;
  justify-content: space-between;
}
.addQuestion_sidenav {
  background: #e7e8e2;
  height: 94.7vh;
  width: 15%;
  display: flex;
  justify-content: center;
  align-items: start;
}
.addQuestion .options {
  height: 50%;
  text-decoration: none;
  width: 100%;
}
.addQuestion .options_ul {
  list-style: none;
  gap: 2rem;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  margin-top: 40px;
}
.addQuestion .options_li {
  text-decoration: none;
  width: 100%;
  padding: 5px;
  text-align: center;
}
.addQuestion .options_li a {
  color: #940242;
}
.addQuestion .options_li.active {
  background: #940242;
  opacity: 70%;
}
.addQuestion .options_li.active a {
  color: white;
  opacity: 100%;
}
.Add_mainWindow {
  height: 94.7vh;
  width: 85%;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
}
.Add_box {
  background: #e7e8e2;
  height: 85%;
  width: 80%;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: space-evenly;
      align-items: center;
}
.Add_head {
  display: flex;
  justify-content: center;
  font-size: 40px;
  font-family: "Lobster", sans-serif;
}
.Add_form {
  display: flex;
  flex-direction: column;
  align-content: center;
  flex-wrap: wrap;
  margin: 50px;
  font-size: 20px;
  font-family: "DM Serif Display", serif;
}
.Add_btn {
  border: none;
  background: #940242;
  color: white;
  font-size: 18px;
  padding: 0 20px;
  font-family: "Lobster", sans-serif;
}
input[type="file"]::file-selector-button {
  border: none;
  background: #940242;
  color: white;
  font-size: 18px;
  padding: 0 20px;
  font-family: "Lobster", sans-serif;
}
.Add_drag{
      align-items: center;
    height: 45%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    background: white;
    width: 50%;
    border-radius: 5px;
}
.Add_img{
      height: 34%;
    width: 15%;
}