.progress_window {
  height: 94.7vh;
  display: flex;
  justify-content: space-between;
}
.progress_sidenav {
  background: #e7e8e2;
  height: 94.7vh;
  width: 15%;
  display: flex;
  justify-content: center;
  align-items: start;
}
.progress_window .options {
  height: 50%;
  text-decoration: none;
  width: 100%;
}
.progress_window .options_ul {
  list-style: none;
  gap: 2rem;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  margin-top: 40px;
}
.progress_window .options_li {
  text-decoration: none;
  width: 100%;
  padding: 5px;
  text-align: center;
}
.progress_window .options_li a {
  color: #940242;
}
.progress_window .options_li.active {
  background: #940242;
  opacity: 70%;
}
.progress_window .options_li.active a {
  color: white;
  opacity: 100%;
}
.progress {
  width: 90%;
  margin-top: 5%;
}
.progress_mainWindow {
  display: flex;
  flex-direction: column;
  align-content: center;
  margin-top: 55px;
  height: 94.7vh;
  width: 85%;
  flex-wrap: wrap;
}
.progress_head {
  font-size: 40px;
  font-family: "Lobster", sans-serif;
}
.progress-bar {
  width: 80%;
  /* background: #940242; */
}
.custom-bar .progress-bar {
  background: #940242;
}
.progess_link {
  text-decoration: none;
  font-size: 20px;
}
